<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<title>Daniel Sousa</title>
		<link rel='stylesheet' href="css/bootstrap.min.css" type="text/css">
		<link rel='stylesheet' href="css/styles.css?v=2.01" type="text/css">
	</head>
	<body ng-app="myApp">

		<div class="header" scroll ng-init="slide = true" ng-class="{'header-black': scroll, 'header-transparent': !scroll}">
			
			<nav>
				<ul>
					<li><a href="#info" ng-click="slide = true">ABOUT</a></li>
					<li><a href="#work" id="projects">WORK</a></li>
					<li><a href="#info" ng-click="slide = false">CONTACT</a></li>
				<ul>
			</nav>
		</div>
		

		<div class='main'>
			
			<h1>Welcome</h1>
		</div>
		
		<div class='work' id="work" ng-controller="MainController">
			<a name="work"></a>
			<div class='container'>
				<div class="row" ng-repeat="row in rows">
					<app-info info="row"></app-info>
				</div>	
			</div> 
		</div>

	

		
		
		<div class='contact' id='contact'>
			
			<div class="row" ng-class="{'far-left': slide, 'left': !slide}">
				<div id="col1">
					<h1>SAY HELLO!</h1>
					<form action="mailto:sousa.danielg@gmail.com" method="post" enctype="text/plain">
						<p>Email</p>
						<input type="text" name="email" id="email"><br/>
						<p>Message</p>
						<textarea id="message"></textarea><br/>
						<input type="submit" value="Submit" id="submit"/>
					</form>
				</div>
				<div id="col2">
					<div class='portrait'>
						<img class="danny" src="images/smile.png"/>
					</div>
				</div>
				<div id="col3">
					<h2>Oh, Hi There...</h2>
					<h4>I'm Daniel Sousa and this is my personal portfolio.  I'm a Portland-based programmer looking to get started with a career in web development. I've spent the last year teaching myself the ins and outs of JavaScript and now I eat design patterns for breakfast and frameworks for lunch. Take a look around - you'll find everything from front-end projects in React to full-stack projects utilizing NodeJS, Express, MongoDB and Angular. Say hi or let me know what you think!</h4>
				</div>
			</div>
		</div>

		<a name="info"></a>
		<div class="footer">
			
			<ul class="media">
				<li><a href="https://github.com/dgsousa" target="_blank"><img src="images/github.png" id="github"></a></li>
				<li><a href="http://www.linkedin.com/in/daniel-sousa-6b947a11b" target="_blank"><img src="images/linkedin.png" id="linked" target="_blank"></a></li>
				<li><a href="https://www.freecodecamp.com/danielmooncloud" target="_blank"><img src="images/code.png" id="code"></a></li>
			</ul>
		</div>

		<script>
		
		</script>

		<script src="js/app.vendor.js"></script>
		<script src="js/app.bundle.js"></script>

	</body>
</html>